{% extends 'base.html.twig' %}

{% block title %}Edit Chapitre{% endblock %}

{% block body %}
    <h1>Edit Chapitre</h1>

    {{ include('chapitre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_chapitre_index') }}">back to list</a>

    {{ include('chapitre/_delete_form.html.twig') }}
{% endblock %}
