
<form method="post" action="{{ path('app_participation_delete', {'id': participation.participationId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participation.participationId) }}">
    <button class="btn">Delete</button>
</form>
