{% extends 'base.html.twig' %}

{% block title %}Edit Participation{% endblock %}

{% block body %}
    <!-- Page Header Section with Background -->
    <section class="page-title-section overlay" style="background-image: url('{{ asset('images/backgrounds/page-title.jpg') }}'); height: 300px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline custom-breadcrumb">
                        <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="#">Edit Participation</a></li>
                        <li class="list-inline-item text-white h3 font-secondary"></li>
                    </ul>
                    <p class="text-lighten">Make changes to the selected participation and save your updates below.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Main Content Section -->
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <!-- Form Card -->
                    <div class="card shadow-lg border-light rounded-lg">
                        <div class="card-body p-5">
                            <!-- Form Title -->
                            <h3 class="text-center text-dark mb-4">Update Participation Details</h3>
                            
                            <!-- Participation Edit Form -->
                            {{ include('participation/_form.html.twig', {'button_label': 'Update'}) }}
                            
                            <!-- Back to List and Delete Buttons -->
                            <div class="d-flex justify-content-between mt-4">
                                <a href="{{ path('app_participation_index') }}" class="btn btn-secondary btn-lg text-white">
                                    <i class="ti-arrow-left"></i> Back to List
                                </a>
                                <div>
                                    <h5 class="text-danger text-center mb-3">Delete Participation</h5>
                                    {{ include('participation/_delete_form.html.twig') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}