{% extends 'back/gestionuser/login.html.twig'%}
{% block body%}
<div class="card-body p-4 p-sm-5">
  <h5 class="mb-0">Mot de passe oublié?</h5><small>Entrez votre email et nous vous enverrons un lien de réinitialisation.</small>

    {{ form_start(form,{'attr':{'class':'mt-4','novalidate':'novalidate'}}) }}
    {{form_widget(form.email,{'attr':{'class':'form-control','placeholder':'Votre E-mail'}})}}
    <div class="mb-3"></div>
    <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">{{button_label|default('Envoyer le lien')}}</button>
    {{form_end(form)}}
</div>
{%endblock%}
